{% extends 'Main/main.html' %}
{% block title %} {% endblock title %}
{% load static %}

{% block content %}

<div class="tab" style="margin-bottom: 30px; margin-top: 20px;">
    <div class="heading_container heading_center">
        <h2 style="margin-bottom: 20px;">
            Patiens <span>Details</span>
        </h2>
    </div>

    <div class="tab" style="margin-bottom: 100px; margin-top: 20px;">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Patient Name</th>
                    <th>Father Name</th>
                    <th>Mother Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Patient Disease</th>
                    <th>Admission Date</th>
                    <th>Discharge Date</th>
                    <th>Payment Status</th>

                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>

                {% for datas in pdatas %}
                <tr>
                    <td>{{ datas.id }}</td>
                    <td>{{ datas.first_name }} .{{ datas.last_name }}</td>
                    <td>{{ datas.father_name }}</td>
                    <td>{{ datas.mother_name }}</td>
                    <td>{{ datas.age }}</td>
                    <td>{{ datas.gender }}</td>
                    <td>{{ datas.mobile_no }}</td>
                    <td>{{ datas.address }}</td>
                    <td>{{ datas.patient_disease }}</td>
                    <td>{{ datas.admission_date }}</td>
                    <td>{{ datas.discharge_date }}</td>
                    <td>{{ datas.payment_status }}</td>

                    <td><a href="{% url 'updates' datas.pk %}" class="btn btn-primary">Edit</a></td>
                    <td><a href="{% url 'deletes' datas.pk %}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}